@(pov: Pov, m: Option[oyun.masa.MiniStanding])(implicit ctx: Context)

@import pov.{ game => g, _ }

<div class="side">
  <div class="side_box padded">
    <div class="game_infos">
      <div class="header">
        <span class="setup">
          @game.variantLink(g.variant, g.variant.name, cssClass = "hint--top")
          • @g.rated.fold(trans.rated.str(), trans.casual.str()).toUpperCase
        </span>
        @g.isBeingPlayed.fold(trans.playingRightNow(), Html(s"<span title='${showDateTime(g.createdAt)}'>${momentFormat(g.createdAt)}</span>"))
      </div>
    </div>
    <!-- <div class="players">
    @g.players.map { p =>
    <div class="player is @{p.side.name}">
    @playerLink(p, withOnline = false)
    </div>
    }
    </div> -->
    @if(g.finishedOrAborted) {
      <div class="status">
        @gameEndStatus(g)
        • @gameEndWinner(g)
      </div>
    }
  </div>
</div>
