@(pov: Pov)(implicit ctx: Context)

@import pov._

<div class="side">
  <div class="side_box padded">
    <div class="game_infos">
      <div class="header">
        <span class="setup">
          VARIANT • RATED
        </span>
        @game.isBeingPlayed.fold("playingRightNow", Html(s"<span title='${showDateTime(game.createdAt)}'>${momentFormat(game.createdAt)}</span>"))
      </div>
    </div>
    <!-- <div class="players">
    @game.players.map { p =>
    <div class="player is @{p.side.name}">
    @playerLink(p, withOnline = false)
    </div>
    }
    </div> -->
  </div>
</div>
