@(title: String,
  fullTitle: Option[String] = None,
  side: Option[Html] = None,
  chat: Option[Html] = None,
  underchat: Option[Html] = None,
  underside: Boolean = false,
  moreCss: Html = Html(""),
  moreJs: Html = Html(""),
  zen: Boolean = false,
  playing: Boolean = false)(body: Html)(implicit ctx: Context)
<!doctype html>
<html lang="@lang.language">
  <head>
    <meta charset="utf-8">
    <title>@fullTitle.getOrElse{@title • oyunkeyf.com}</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
    @cssTag("common.css")
    @cssTag("table.css")
    @moreCss
    <link id="piece-sprite" href="@staticUrl(s"stylesheets/piece/standard.css?v=$assetVersion")" type="text/css" rel="stylesheet"/>
  </head>
  <body class="preload base"
        data-asset-url="@assetBaseUrl"
        data-asset-version="@assetVersion">
    <div id="top">
      @topmenu()
      <div class="oyunkeyf_language fright">
        <a class="toggle link" href="#">@langName(lang)</a>
      </div>
      @ctx.me.map { me =>
        <div class="auth fright">
          @auth.userDropdown(me, playing)
        </div>
        <div id="message_notifications_parent"></div>
        <div class="challenge_notifications fright"></div>
      }.getOrElse {
        <a href="@routes.Auth.login" class="signin button fright text">@trans.signIn()</a>
      }
      <a id="reconnecting" class="fright link" onclick="location.reload();" data-icon="B">&nbsp;@trans.reconnecting()</a>
    </div>
    <div class="content">
      <div id="site_header">
        <h1>
          <a id="site_title" href="@routes.Lobby.home">oyunkeyf<span class="extension">.com</span></a>
        </h1>
        @side
        <div class="under_side@{underside ?? " bottom"}">
          @chat
          @underchat.map { g =>
            <div class="under_chat">@g</div>
          }
        </div>
      </div>
      <div id="oyunkeyf">
        @body
      </div>
    </div>

    @jQueryTag
    @momentjsTag
    @if(isProd) {
      @jsTagCompiled("oyunkeyf.js")
    } else {
      @jsTag("util.js")
      @jsTag("socket.js")
      @jsTag("main.js")
    }
    @moreJs
    @momentLangTag
  </body>
</html>
