@(categ: oyun.forum.Categ, form: Form[_], captcha: oyun.common.Captcha)(implicit ctx: Context)
@import oyun.app.ui.ScalatagsTwirlForm._

@forum.layout(title = "Yeni forum konusu", moreJs = jsTag("forum-post.js"), formCss = true) {
  <ol class="crumbs">
    <li><a style="text-decoration: none" data-icon="d" class="is4" href="@routes.ForumCateg.index"> Forum</a></li>
    <li><h1>@categ.name</h1></li>
  </ol>
  <div class="warning">
  </div>
  <form class="form3 create-topic" action="@routes.ForumTopic.create(categ.slug)" method="POST" novalidate>
    @form3.group(form("name"), trans.subject.frag())(form3.input(_)(*.autofocus := true))
    @form3.group(form("post")("text"), trans.message.frag())(form3.textarea(_, klass = "post-text-area")(*.rows := 10))
    @base.captcha(form("post"), captcha).toHtml
    @form3.actionsHtml {
      <a href="@routes.ForumCateg.show(categ.slug)">@trans.cancel()</a>
      @form3.submit(trans.createTheTopic.frag())
    }
  </form>
}
