#masa .header {
  display: flex;
  align-items: center;
  height: 70px;
}

#masa .header .img {
  margin: 0 15px;
}

#masa .header h1 {
  flex: 9 1 auto;
  padding: 0;
}

#masa a.pov {
  display: block;
  margin: 0 25px 1em 25px;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  border-radius: 100px;
  transition: box-shadow 1.5s;
}

#masa a.pov span {
  display: block;
  font-weight: bold;
}

#masa a.pov::before,
#masa a.pov::after {
  content: 'U';
  font-size: 32px;
  position: absolute;
  top: 16px;
}

#masa a.pov::before {
  left: 15px;
}
#masa a.pov::after {
  right: 15px;
}

#masa button.right {
  margin-left: 5px;
}

#masa thead .spinner {
  width: 30px;
  height: 30px;
  float: right;
}

#masa div.standing_wrap {
  overflow: hidden;
}

#masa table.standing {
  width: 525px;
  border-bottom: none;
}

#masa table.standing tbody tr {
  transition: 0.13s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#masa table.standing tr.me td:first-child {
  border-left: 10px solid #d59120;
  padding-left: 5px;
}

#masa table.standing td:first-child {
  padding: 0.8em 0.6em;
  padding-left: 10px;
  white-space: nowrap;
}

#masa table.standing tbody tr:hover {
  background: rgba(191, 231, 255, 0.7);
  cursor: pointer;
}

#masa table.slist td:first-child rank {
  display: inline-block;
  font-weight: bold;
  width: 20px;
  opacity: 0.6;
}

#masa table.standing .sheet,
#masa table.standing .total {
  text-align: right;
  font-family: monospace;
  letter-spacing: 0;
}

#masa table.standing .sheet > *,
#masa table.standing .total span {
  display: inline-block;
  padding: 0 2px;
}

#masa div.standing_wrap td.total {
  padding-right: 20px;
}

#masa penalty {
  color: #ac524f;
  font-weight: bold;
}

#masa erase {
  color: #759900;
  font-weight: bold;
}

#masa button.right {
  float: right;
  margin-left: 5px;
}

#masa div.masa_show {
  width: 525px;
  //min-height: 480px;
}

#masa .seats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#masa .seats .seat {
  margin: 5px;
}

#masa .seats .middle {
  display: flex;
  align-items: center;
}

#masa .table {
  height: 100px;
  width: 100px;
}
