#masa .header {
  display: flex;
  align-items: center;
  height: 70px;
}

#masa .header .img {
  margin: 0 15px;
}

#masa .header h1 {
  flex: 9 1 auto;
  padding: 0;
}

#masa a.pov {
  display: block;
  margin: 0 25px 1em 25px;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  border-radius: 100px;
  transition: box-shadow 1.5s;
}

#masa a.pov span {
  display: block;
  font-weight: bold;
}

#masa a.pov::before,
#masa a.pov::after {
  content: 'U';
  font-size: 32px;
  position: absolute;
  top: 16px;
}

#masa a.pov::before {
  left: 15px;
}
#masa a.pov::after {
  right: 15px;
}

#masa button.right {
  margin-left: 5px;
}

#masa thead .spinner {
  width: 30px;
  height: 30px;
  float: right;
}

#masa div.standing_wrap {
  overflow: hidden;
}

#masa table.standing {
  width: 525px;
  border-bottom: none;
}

#masa button.right {
  float: right;
  margin-left: 5px;
}

#masa div.masa_show {
  width: 525px;
  min-height: 480px;
}

#masa .seats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#masa .seats .seat {
  margin: 5px;
}

#masa .seats .middle {
  display: flex;
  align-items: center;
}

#masa .table {
  height: 100px;
  width: 100px;
}
