#masa .header {
  display: flex;
  align-items: center;
  height: 70px;
}

#masa .header .img {
  margin: 0 15px;
}

#masa .header h1 {
  flex: 9 1 auto;
  padding: 0;
}

#masa .header .clock {
  display: flex;
  margin: 0 15px;
  text-align: right;
  align-items: center;
}

#masa .header .clock span {
  display: block;
}

#masa .header .shy {
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;
}

#masa .header .time,
#masa .header .round {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

#masa .header .round {
  margin-left: 15px;
}

#masa .finished .header h1 {
  text-align: center;
}

#masa .podium {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
}

#masa .podium>div {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

#masa .podium .first {
  width: 44%;
  font-size: 1.6em;
}

#masa .podium .trophy {
  margin: 0 auto 8px auto;
  background-size: contain!important;
}

#masa .podium .first .trophy {
  height: 150px;
  width: 195px;
  background: url('../images/icons/trophy-1.png') no-repeat;
  background-size: cover;
}

#masa .podium .first .user_link {
  font-weight: bold;
}

#masa a.pov {
  display: block;
  margin: 0 25px 1em 25px;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  border-radius: 100px;
  transition: box-shadow 1.5s;
}

#masa a.pov span {
  display: block;
  font-weight: bold;
}

#masa a.pov::before,
#masa a.pov::after {
  content: 'U';
  font-size: 32px;
  position: absolute;
  top: 16px;
}

#masa a.pov::before {
  left: 15px;
}
#masa a.pov::after {
  right: 15px;
}

#masa button.right {
  margin-left: 5px;
}

#masa thead .spinner {
  width: 30px;
  height: 30px;
  float: right;
}

#masa div.standing_wrap {
  overflow: hidden;
}

#masa table.standing {
  width: 525px;
  border-bottom: none;
}

#masa table.standing tbody tr {
  transition: 0.13s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#masa table.standing tr.me td:first-child {
  border-left: 10px solid #d59120;
  padding-left: 5px;
}

#masa table.standing td:first-child {
  padding: 0.8em 0.6em;
  padding-left: 10px;
  white-space: nowrap;
}

#masa table.standing th {
  height: 30px;
}

#masa table.standing tbody tr:hover {
  background: rgba(191, 231, 255, 0.7);
  cursor: pointer;
}

#masa table.slist td:first-child rank {
  display: inline-block;
  font-weight: bold;
  width: 20px;
  opacity: 0.6;
}

#masa table.standing .sheet,
#masa table.standing .total {
  text-align: right;
  font-family: monospace;
  letter-spacing: 0;
}

#masa table.standing .sheet > *,
#masa table.standing .total span {
  display: inline-block;
  padding: 0 2px;
}

#masa div.standing_wrap td.total {
  padding-right: 20px;
}

#masa penalty {
  color: #ac524f;
  font-weight: bold;
}

#masa erase {
  color: #759900;
  font-weight: bold;
}

#masa button.right {
  float: right;
  margin-left: 5px;
}

#masa div.masa_show {
  width: 525px;
  //min-height: 480px;
}

#masa .seats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#masa .seats .seat {
  margin: 5px;
}

#masa .seats .middle {
  display: flex;
  align-items: center;
}

#masa .table {
  height: 100px;
  width: 100px;
}

#masa_list table.slist {
  line-height: 2.3em;
}

#masa_list table.slist td {
  padding-top: 1em;
  padding-bottom: 1em;
}

#masa_list .icon span {
  font-size: 4em;
  opacity: 0.6;
}

#masa_list table.slist .header {
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0!important;
}

#masa_list table.slist .header a {
  padding: 1em;
  display: block;
}

#masa_list table.slist .header:hover {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
}

#masa_list table.slist .name {
  letter-spacing: 3px;
  font-size: 1.7em;
  display: block;
}

#masa_side {
  position: relative;
  float: right;
  width: 252px;
  text-align: center;
  transition: 0.13s;
}

#masa_side .all_pairings {
  font-style: italic;
}

#masa_side .scroll-shadow-soft {
  max-height: 400px;
  overflow: auto;
}

#masa_side .box {
  border: 1px solid #ccc;
}

#masa_side .all_pairings a {
  padding: 0.3em 0.2em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

#masa_side .all_pairings>a>* {
  margin: 0 5px;
  font-weight: bold;
  font-style: normal;
}

#masa_side .all_pairings a finished {
  color: #33aa33
}

#oyunkeyf,
#masa,
div.masa_box {
  width: 100%;
}

div.faq_page h1 {
  display: block;
  margin-bottom: 1em;
}

.leaderboard_title {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

ol.created_masas li {
  padding: 5px 0;
}

ol.created_masas li::before {
  font-size: 30px;
  float: left;
  margin: 3px 5px 0 0;
  opacity: 0.8;
}

ol.created_masas li:hover::before {
  opacity: 1;
}

ol.created_masas a {
  font-weight: bold;
}
