div.table_wrap {
  display: flex;
}

div.player_wrap .clock {
  position: relative;
}

div.player_wrap .clock_bottom {
  top: -4px;
}

div.player_wrap .clock .bar {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff077;
  color: #444;
}

div.player_wrap .clock .bar span {
  display: block;
  height: 4px;
  background: #759900;
}

div.player_wrap {
  width: 100%;
  box-sizing: border-box;
}

div.player_wrap .player {
  padding: 10px;
  border: 1px solid #ccc;
}

div.player_wrap div.player span.status {
  display: inline-block;
  margin-left: 5px;
}

div.player_wrap div.player span.status span {
  color: #ac524f;
}

div.player_wrap div.player.on-game span.status span {
  color: #759900;
}

div.table_side {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 200px;
}

.setup {
  text-transform: uppercase;
}

div.table_left {
  padding-right: 15px;
}

div.table_right {
  padding-left: 15px;
}

div.table_side .player_wrap {
  margin-top: 200px;
}

div.table_right .scores {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
}

div.table_right .scores .top {
  border-bottom: 1px solid #ccc;
  padding: 3px 5px;
  font-weight: bold;
  color: #747474;
}

div.sideboard_content {
  width: 100%;
}

div.sideboard_menu {
  text-align: center;
  border-top: 1px solid #c0c0c0;
  height: 21px;
}

div.sideboard_panels {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}

div.sideboard_panels .panel {
  height: 260px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}

div.sideboard_panels .replay {
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}

div.sideboard_panels>div.active {
  display: flex;
  flex-flow: column nowrap;
}

div.sideboard_panels .replay .turns {
  flex: 1;
  overflow: auto;
}

div.sideboard_menu>a {
  background: #f0f0f0;
  border: 1px solid #c0c0c0;
  padding: 2px 8px;
  height: 16px;
  line-height: 16px;
  margin: -1px 0 0 -1px;
  display: inline-block;
  cursor: pointer;
}

div.sideboard_menu > a.active {
  border-bottom: 2px solid #d85000;
  background-color: #eee;
  border-top: 1px solid #eee;
}

/* .table_right .replay { */
/*   flex: 2 1 0px; */
/*   position: relative; */
/* } */

.table_right .replay_wrap {
  width: 100%;
  padding: 10px;
  padding-top: 0px;
  box-sizing: border-box;
}

.table_right .replay .moves {
  /* border-top: 1px solid #e2e2e2; */
  /* border-bottom: 1px solid #e2e2e2; */
  /* margin: 0 -10px 0 -10px; */
  /* height: 115px; */
  overflow: auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.table_right .replay turn {
  /* display: flex; */
  height: 26px;
}

.table_right .replay turn>index,
.table_right .replay turn .moves>move {
  display: block;
  height: 22px;
  line-height: 22px;
}

.table_right .replay turn>index,
.table_right .replay move>index
{
  /* flex: 0 0 22px; */
  padding: 2px 0;
  background: #e0e0e0;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
}


.table_right .replay move>index {
  flex: 0 0 34px;
  padding: 2px 0;
}

.table_right .replay move {
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;
  transition: background-color 0.13s;
  font-size: 12px;
}

.table_right .replay move.active,
.table_right .replay index.active {
  color: #d85000;
  font-weight: bold;
}

.table_right .replay move:hover {
  background: #e0e0e0;
}

div.game_masa {
  max-height: 180px;
  overflow: hidden;
  margin-left: -200px;
  margin-top: 0px;
}

div.game_masa:hover {
  overflow-y: auto;
}

div.game_masa .clock {
  text-align: center;
  font-size: 20px;
  font-family: monospace, 'Noto Sans', 'Lucida Grande';
  font-weight: bold;
  margin: 10px 0;
}

div.game_masa table.standing {
  border-bottom: none;
}

div.game_masa table.standing tr.me td:first-child {
  border-left: 10px solid #d59120;
  padding-left: 5px;
}

div.game_masa table.standing td {
  padding: 0 10px;
  text-align: left;
  line-height: 2em;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.game_masa table.standing td.name span {
  display: inline-block;
  width: 20px;
}

div.game_masa table.standing td.total {
  text-align: right;
}

.scores {
  overflow: hidden;
}

.scores table.standing {
  border-bottom: none;
}

.scores table.standing tbody tr {
  transition: 0.13s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.scores table.standing tbody tr:hover {
  background: rgba(191, 231, 255, 0.7);
  cursor: pointer;
}

.scores table.standing td:first-child {
  padding: 0.8em 0.6em;
}
.scores table.standing td:first-child rank {
  display: inline-block;
  font-weight: bold;
  width: 20px;
  opacity: 0.6;
}

.scores tr.me td:first-child {
  border-left: 10px solid #d59120;
  padding-left: 5px;
}

.scores table.standing .sheet {
  text-align: right;
  font-family: monospace;
  letter-spacing: 0;
}

.scores table.standing .total {
  padding-right: 10px;
  text-align: right;
  font-family: monospace;
  letter-spacing: 0;
}

.scores table.standing .sheet>* {
  display: inline-block;
  padding: 0 2px;
}

.scores erase,
.scores_info erase {
  color: #759900;
  font-weight: bold;
}

.scores penalty,
.scores_info penalty {
  //color: #750000;
  color: #ac524f;
  font-weight: bold;
}

.scores double,
.scores_info double {
  color: #d59120;
  font-weight: bold;
}

div.scores_info {
  margin-top: 15px;
  width: 100%;
}

div.scores_info table {
  width: 100%;
}

div.scores_info td {
  width: 40px;
  padding: 2px 8px;
  text-align: center;
}

#oyunkeyf {
  display: flex;
  /* debug */
  margin-left: -250px;
}

div.table_middle {
  display: flex;
  flex-flow: column;
  align-items: center;
}

div.table_middle .player_wrap {
  width: 200px;
}

div.table_over {
  display: flex;
  flex-flow: row;
  //margin-top: 5px;

  align-items: baseline;
  //border: 1px solid #ccc;
  padding: 2px 0;
}

div.control {
  text-align: center;
  width: 200px;
}

div.control.icons .button {
  font-size: 16px;
  height: 34px;
  padding: 0 10px;
  margin: 0 3px;
}

div.control.icons .button.move {
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease;
  transition-delay: 0ms;
}

div.control.icons .button.move.enabled {
  visibility: visible;
  opacity: 1;
}

.oyunkeyf_ground .follow_up {
  margin: 0 7px ;
}

.oyunkeyf_ground .follow_up .button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  padding: 14px 0;
}

.oyunkeyf_ground .follow_up.button:first-child {
  border-radius: 3px 3px 0 0;
}

#chat div.top {
  position: relative;
}

#chat div.top input.toggle_chat {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

#chat .messages {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

#chat form {
  position: relative;
}

#chat form input.oyunkeyf_say {
  border: 0;
  border-top: 1px solid #ccc;
  padding: 2px 20px 2px 4px;
  width: 100%;
  box-sizing: border-box;
}

#chat a.send {
  position: absolute;
  top: 0;
  right: 2px;
  padding-top: 3px;
  display: block;
  height: 16px;
  width: 16px;
  z-index: 1;
  opacity: 0.5;
}

.round.og-512 {
  margin-left: -210px;
}

.og-512 .og-table-wrap {
  width: 608px;
  height: 456px;
  position: relative;
}

.og-board {
  background: rgb(213, 145, 32);
}

.og-table-wrap {
  background: rgb(117, 153, 0);
}

/* okeyground */

/* 6.25% */
/* 50% */
.og-table-wrap {
  width: 100%;
  height: 100%; }

.og-table {
  height: 100%;
  width: 100%;
  position: relative; }

/* 100 - og-board height */
.og-top {
  position: relative;
  width: 100%;
  /* height: 78.1%; */
  height: 76.75439%; }

.og-top .oc {
  position: absolute;
  height: 14.28571%;
  width: 6.25%; }
  .og-top .oc.ddown {
    right: 0%;
    bottom: 0%; }
  .og-top .oc.mgosterge {
    bottom: 0%;
    left: 81.25%; }

/*
 * 
 * .21.9 .50 / .78.1 
 */
.og-top > piece {
  height: 14.28571%;
  width: 6.25%; }

.og-top .mgosterge {
  bottom: 0%;
  left: 81.25%; }

.og-top piece.mmiddleCount {
  cursor: pointer;
  bottom: 0%;
  left: 75%; }
  .og-top piece.mmiddleCount:not(.dragging)::before {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 3px);
    font-size: 11px;
    font-weight: bold;
    opacity: 0.7;
    content: attr(data-middle-count); }

.og-top piece.dup {
  top: 0%;
  left: 0%; }

.og-top piece.dleft {
  cursor: pointer;
  bottom: 0%;
  left: 0%; }

.og-top piece.ddown {
  right: 0%;
  bottom: 0%; }

.og-top piece.dright {
  top: 0%;
  right: 0%; }

.og-opens {
  position: absolute;
  width: 75%;
  height: 68.57143%;
  border: 1px solid;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

.og-opens piece.mini {
  height: 12.5%;
  width: 5%; }

.og-opens .oc {
  position: absolute;
  height: 12.5%;
  width: 5%; }

/* width: (38 * 16)
 * height: width * 4 / 3
 * 100 / height
 * 100 / 456
 */
.og-board {
  cursor: pointer;
  -webkit-user-select: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 21.9%; */
  height: 21.92982%; }

.og-board .drag-over {
  position: absolute;
  height: 50%;
  width: 6.25%; }

piece {
  position: absolute;
  background-size: cover; }

/* .21.9 .50 */
.og-board piece {
  height: 50%;
  width: 6.25%; }

piece.selected:not(.dragging) {
  z-index: 2;
  box-shadow: 0 0 0 2px rgba(0, 85, 80, 0.5); }

piece.dragging {
  z-index: 9;
  cursor: move; }

.move-dest {
  background: radial-gradient(transparent 0%, transparent 70%, rgba(216, 85, 0, 0.5) 80%); }

.og-board .drag-over,
.move-dest.drag-over {
  box-shadow: inset 0 0 10px 2px rgba(216, 85, 0, 0.9); }
