div.user_show .social {
  position: relative;
  border-top: 0;
  padding: 0 0 5px 10px;
  height: 52px;
}

div.user_show div.meat {
  height: 325px;
  position: relative;
}

div.user_show .rating_history {
  position: absolute;
  left: -10px;
  display: block;
  width: 477px;
  height: 339px;
}

div.user_show .user-infos {
  position: absolute;
  top: 0;
  left: 458px;
  padding: 0 14px;
  border-left: 1px solid #c0c0c0;
  overflow: hidden;
  width: 305px;
  height: 325px;
}

div.user_show .stats {
  display: block;
  margin-top: 16px;
}

div.user_show div.content_box_inter.tabs {
  margin-left: -8px;
  padding-left: 30px;
  width: 775px;
  border: 1px solid #ccc;
}

div.content_box_inter .intertab {
  display: inline-block;
  text-align: center;
  line-height: 1.4em;
  margin: 5px 0 -1px 0;
  padding: 0.5em 0.7em;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-family: 'Roboto';
  font-weight: 300;
}

div.content_box_inter.tabs .intertab {
  margin-top: 7px;
  border-bottom: none;
  padding-bottom: 0.8em;
}

div.content_box_inter a.intertab:hover,
div.content_box_inter a.intertab.active {
  border-color: #ccc;
}

div.content_box_inter a.intertab.active {
  background: #fff;
}

#oyunkeyf {
  position: relative;
}

div.sub_ratings {
  margin-top: 10px;
  margin-left: -13px;
  width: 224px;
}

div.sub_ratings strong {
  font-weight: bold;
  font-size: 1.2em;
}

div.sub_ratings>a {
  position: relative;
  padding: 10px 0 10px 5px;
  white-space: nowrap;
  display: block;
  transition: 0.13s;
}

div.sub_ratings>a.game {
  cursor: pointer;
}

div.sub_ratings>a.game:hover {
  background: #fafafa;
  margin-left: -3px;
}

div.sub_ratings>a:hover>i {
  opacity: 0.6;
}

div.sub_ratings>a.game.active {
  background: #fff;
  border: 1px solid #ccc;
  border-right: 0;
  margin-left: -10px;
}

div.sub_ratings>a::before {
  font-size: 40px;
  float: left;
  margin: -2px 5px 0 0;
  opacity: 0.6;
}

div.sub_ratings>a>span {
  display: block;
  text-transform: lowercase;
}

div.sub_ratings>a>i {
  position: absolute;
  top: calc(50% - 6px);
  right: 12px;
  font-size: 8px;
  opacity: 0.2;
}

div.sub_ratings>a.active>i {
  display: none;
}

div.sub_ratings h3 {
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0;
  display: inline-block;
}
