@()(implicit ctx: Context)
@Html(J.stringify(i18nJsObject(
  trans.viewMasa,
  trans.openSeries,
  trans.openPairs,
  trans.collectOpen,
  trans.yourTurn,
  trans.waitingForOpponent,
  trans.gameOver,
  trans.playerHasJoinedTheGame,
  trans.playerHasLeftTheGame,
  trans.thereIsAGameInProgress,
  trans.scores,
  trans.replay,
  trans.gameEnded,
  trans.gameEndByHand,
  trans.gameEndByPair,
  trans.gameEndByDiscardOkey,
  trans.handZero,
  trans.handOkeyLeft,
  trans.handNotOpened,
  trans.handOpenedPair,
  trans.handOpenedSome
)))
