@(pov: Pov, data: play.api.libs.json.JsObject)(implicit ctx: Context)

@import pov._

@title = @{ s"trans.play.str() in $gameId" }

@moreJs = {
  @jsAt(s"compiled/oyunkeyf.round.js")
  @embedJs {
    $(function() {
      oyunkeyf.startRound(document.getElementById('oyunkeyf'), {
        data: @Html(J.stringify(data)),
        i18n: @jsI18n()
      });
    });
  }
}


@round.layout(
  title = title,
  side = views.html.game.side(pov),
  chat = leftabs(pov).some,
  moreJs = moreJs) {
    <div class="round og-512">
      <div class="underboard">
        <div class="center">
          <div class="crosstable_placeholder"></div>
        </div>
      </div>
    </div>
}
