@(pov: Pov, data: play.api.libs.json.JsObject, m: Option[oyun.masa.MiniStanding])(implicit ctx: Context)

@import pov._

@title = @{ s"trans.play.str() in $gameId" }

@moreJs = {
  @jsAt(s"compiled/oyunkeyf.round.js")
  @embedJs {
    $(function() {
      oyunkeyf.startRound(document.getElementById('oyunkeyf'), {
        data: @Html(J.stringify(data)),
        i18n: @jsI18n()
      });
    });
  }
}


@round.layout(
  title = title,
  side = views.html.game.side(pov),
  chat = leftabs(pov).some,
  moreJs = moreJs) {
  <div class="round og-512"></div>
  @m match {
    case Some(m) if !m.masa.isCreated => { @masa.gameStanding(m, pov.player.playerId) }
    case _ => {
      @game.masaId.map { masaId =>
        <div class="game_masa side_box no_padding">
        <p class="top text" data-icon="g"><a href="@routes.Masa.show(masaId)">@masaIdToName(masaId)</a></p>
        </div>
      }
    }
  }
}
