@(data: play.api.libs.json.JsObject)(implicit ctx: Context)

@moreJs = {
  @jsAt(s"compiled/oyunkeyf.lobby.js")
  @embedJs {
    oyunkeyf = oyunkeyf || {};
    oyunkeyf.lobby = {
      data: @Html(J.stringify(data))
    };
  }
}

@base.layout(
  title = "",
  fullTitle = Some("oyunkeyf.org * " + "trans.freeOnlineOkey.str()"),
  moreJs = moreJs
) {
  <div class="lobby_and_ground">
    <div id="hooks_wrap"></div>
    <div id="start_buttons" class="oyun_ground">
      <a class="fat button config_hook" href="@routes.Setup.hookForm" onclick="return false">trans.createAGame()</a>
    </div>
  </div>
}
