@(data: play.api.libs.json.JsObject, masas: List[Masa], playing: List[Pov], nbRounds: Int)(implicit ctx: Context)

@baseline = {
  <a id="nb_connected_players" href="@routes.User.list">
    @trans.nbConnectedPlayers("<strong>?</strong>")
  </a>
  <!-- <br /> -->
  <a id="nb_games_in_play" href="#">
    @trans.nbGamesInPlay(s"<strong>${nbRounds}</strong>")
  </a>
}

@moreJs = {
  @jsAt(s"compiled/oyunkeyf.lobby.js")
  @embedJs {
    oyunkeyf = oyunkeyf || {};
    oyunkeyf.lobby = {
      data: @Html(J.stringify(data))
    };
  }
}

@base.layout(
  title = "",
  fullTitle = Some("oyunkeyf.org * " + trans.freeOnlineOkey.str()),
  baseline = baseline.some,
  moreJs = moreJs,
  moreCss = cssTag("home.css")
) {
  <div class="lobby_and_ground">
    <div id="hooks_wrap"></div>
    <div class="undertable">
      <div class="undertable_top">
        <a class="more hint--bottom" data-hint="@trans.seeAllMasas()" href="@routes.Masa.home()">@trans.more() »</a>
        <span class="title text" data-icon="g">@trans.openMasas()</span>
      </div>
      <div id="enterable_masas" class="enterable_list undertable_inner scroll-shadow-hard">
        @masa.enterable(masas)
      </div>
    </div>
    <div id="start_buttons" class="oyun_ground">
      <a class="fat button config_masa" href="@routes.Masa.form" onclick="return false">@trans.createAGame()</a>
    </div>
  </div>


  @if(playing.headOption.isDefined) {
    <div class="undertable">
      <div class="undertable_top">
        <span class="title text" data-icon="g">@trans.nbGamesInPlay(playing.size)</span>
      </div>
      <div class="nowplaying_list undertable_inner">
        @game.enterable(playing)
      </div>
    </div>
  }

}
