@(online: List[User], leaderboards: oyun.user.Perfs.Leaderboards, nbDay: List[User.LightCount], nbAllTime: List[User.LightCount])(implicit ctx: Context)

@import oyun.rating.PerfType

@userTopPerf(users: List[User.LightPerf], perfType: PerfType) = {
  <div class="user_top">
    <h2 class="text" data-icon="@perfType.iconChar">
      <a href="#">@perfType.name</a>
    </h2>
    <table>
      <tbody>
        @users.map { l =>
          <tr>
            <td>@lightUserLink(l.user)</td>
            <td>@l.rating</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

@userTopActive(users: List[User.LightCount], title: Any, icon: Option[Char] = None) = {
  <div class="user_top">
    <h2 class="text"@icon.map { i => data-icon="@i" }>@title</h2>
    <table>
      <tbody>
        @users.map { u =>
          <tr>
            <td>@lightUserLink(u.user)</td>
            <td title="@trans.gamesPlayed()">#@u.count.localize</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

@side = {
  <div class="side">
    <form class="search public">
      <input placeholder="@trans.search()" class="search_user user-autocomplete-jump" autofocus />
    </form>
    <div class="user_lists">
      <div class="user_top">
        <h2>@trans.onlinePlayers()</h2>
        <table><tbody>
          @online.map { u =>
            <tr>
              <td>@userLink(u)</td>
              <td>@showBestPerf(u)</td>
            </tr>
          }
        </tbody></table>
      </div>
    </div>
  </div>
}

@user.layout(
trans.players.txt(),
side = side.some,
openGraph = oyun.app.ui.OpenGraph(
title = trans.okeyPlayersAndLeaderboards.txt(),
url = s"$netBaseUrl${routes.User.list.url}",
description = trans.bestOkeyPlayersInYuzbir.txt()).some) {
  <div class="content_box">
    <div class="user_lists">
      <div class="group">
        @userTopPerf(leaderboards.yuzbir, PerfType.Yuzbir)
      </div>

      <div class="group">
        @userTopActive(nbAllTime, trans.activePlayers(), icon='U'.some)
      </div>

    </div>
  </div>
}
