@(system: Option[oyun.masa.System] = None)

<article class="faq">

  Masa başladığında uyarılacaksınız, yani beklerken <a target="_blank" href="@routes.Lobby.home()">başka bir sekmede</a> oynayabilirsiniz.

<h2>Puanlı mı?</h2>

Bazı masalar puanlıdır ve reytingi etkiler.

<h2> Puanlar nasıl hesaplanır? </h2>

Bir oyuncunun alacağı puan masanın kaç ellik olduğu ile ilgilidir. Birinci oyuncu el sayısı kadar puan alır. İkinci oyuncu el sayısının yarısı kadar puan alır. Üçüncü oyuncu el sayısının yarısı kadar puan kaybeder. Dördüncü oyuncu el sayısı kadar puan kaybeder.

<h2> Kazanan nasıl belirlenir? </h2>

Masada bütün eller oynandıktan sonra en az cezası olan oyuncu galip ilan edilir.

<h2> Masada eslestirme nasil yapilir? </h2>

Masaya 4 oyuncu katildiginda el baslar. Bir el bittikten sonra yeni el baslar, yeni ele katilmak icin oyuncular masaya geri donmelidir.

<h2> Masa ne zaman biter? </h2>

Masada el sayısı kadar oyun oynandığında masa biter.

<h2> Oyundan ayrılma </h2>

Oyun devam ederken oyundan ayrilan oyuncu masadan atilir, ve o el iptal olur. Masa bitmeden masadan ayrilan oyuncu el sayısının 2 katı kadar puan kaybeder.

<h2> Diğer önemli kurallar </h2>

Siraniz geldiginde, oyanama sürenizi aşarsanız sistem sizin yerinize oynar.

</article>
