@(m: oyun.masa.MiniStanding, playerId: Option[String])(implicit ctx: Context)

<div class="game_masa side_box no_padding scroll-shadow-soft none">
  <p class="top text" data-icon="g"><a href="@routes.Masa.show(m.masa.id)">@m.masa.fullName</a></p>
  <div class="clock">
    <div class="round">@m.masa.roundString</div>
  </div>
  @m.standing.map { standing =>
    <table class="slist standing">
      <thead><tr></tr></thead>
      <tbody>
        @standing.map {
          case oyun.masa.RankedPlayer(rank, player) => {
            <tr @if(playerId.exists(player.is)) { class="me" }>
              <td class="name">
                @if(!player.active) {
                  <span data-icon="b" title="@trans.withdraw()"></span>
                } else {
                  <span class="rank">@rank</span>
                }
                @usernameOrAnon(player.userId)
            </td>
              <td class="total">
                <strong>@player.score</strong>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  }
</div>
