@(m: oyun.masa.MasaMiniView, playerId: Option[String])(implicit ctx: Context)

<div class="game_masa side_box no_padding scroll-shadow-soft none">
  <p class="top text" data-icon="g"><a href="@routes.Masa.show(m.masa.id)">@m.masa.fullName</a></p>
  <div class="clock">
    <div class="round">@m.masa.roundString</div>
  </div>
  @m.top.map { top =>
    <table class="slist standing">
      <thead><tr></tr></thead>
      <tbody>
        @top.value.map { player =>
          <tr @if(playerId.exists(player.is)) { class="me" }>
            <td class="name">
              @if(!player.active) {
                <span data-icon="b" title="@trans.withdraw()"></span>
              } else {
                }
                @player.isAi.fold(aiName, usernameOrAnon(player.userId))
            </td>
            <td class="total"><strong>@player.score</strong>
          </tr>
        }
      </tbody>
    </table>
  }
  
  <!-- 
  m.standing.map { standing =>
    <table class="slist standing">
      <thead><tr></tr></thead>
      <tbody>
        standing.map {
          cas oyun.masa.RankedPlayer(rank, player) => {
            <tr if(playerId.exists(player.is)) { class="me" }>
              <td class="name">
                if(!player.active) {
                  <span data-icon="b" title="@trans.withdraw()"></span>
                } else {
                  <span class="rank">rank</span>
                }
                player.isAi.fold(aiName, usernameOrAnon(player.userId))
            </td>
              <td class="total">
                <strong>player.score</strong>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  }
-->

</div>
