@(m: Masa, data: play.api.libs.json.JsObject, chat: Option[oyun.chat.UserChat])(implicit ctx: Context)

@moreJs = {
  @jsAt(s"compiled/oyunkeyf.masa.js")
  @embedJs {
    oyunkeyf = oyunkeyf || {};
    oyunkeyf.masa = {
      data: @Html(play.api.libs.json.Json.stringify(data)),
      i18n: @jsI18n(),
      userId: @Html(ctx.userId.fold("null")(id => s""""$id""""))
    };
  }
}

@masa.layout(
  title = s"${m.fullName} #${m.id}",
  side = masa.side(m).some,
  chat = chat.map(c => base.chat(c, trans.chatRoom.str())),
  moreJs = moreJs) {
    <div id="masa"></div>
    @if(m.isCreated) {
      <div id="masa_faq" class="none">
        @faq(m.system.some)
      </div>
    }
}
