@(m: Masa)(implicit ctx: Context)

<div class="side_box padded">
  <div class="game_infos">
    <div class="header">
      <span class="setup">
        @game.variantLink(m.variant, m.variant.name, cssClass = "hint--top") •
        @m.rated.fold(trans.rated.str(), trans.casual.str()).toUpperCase •
        @m.roundString
      </span>
      (<a href="@routes.Masa.help(m.system.toString.toLowerCase.some)">?</a>)
      <br />
      @m.membersOnly.fold("", trans.allowAnon.str())
    </div>
  </div>
  @m.spotlight.map { s =>
    <div class="game_infos spotlight">
      @markdownLinks(s.description)
    </div>
  }
  @trans.by(usernameOrAnon(m.createdBy.some))
  •
  <span title="@showDateTime(m.createdAt)">@momentFormat(m.createdAt)</span>
  @m.winnerId.map { userId =>
    <br /> <br />
    @trans.winner(): @userIdLink(userId.some)
  }
</div>
