@(form: Form[_], typ: String, title: Html, route: Call, fields: Html, error: Option[Html] = None)(implicit ctx: Context)

<div class="oyunkeyf_overboard game_config game_config_@typ">
  <a href="@routes.Lobby.home" class="close icon" title="@trans.cancel()" data-icon="L"></a>
  <h2>@title</h2>
  @error.map { e =>
    <p class="error">@e</p>
    <br />
    <a href="@routes.Lobby.home" class="button text" data-icon="L">@trans.cancel()</a>
  }.getOrElse {
    @helper.form(action = route) {
      @fields
      <div class="submits">
      <button type="submit" class="button">
      icon
      </button>
      </div>
    }
  }
</div>
