@mixin box-radius {
  border-radius: $box-radius-size;
}

@mixin box-shadow {
  box-shadow: $box-shadow;
}

@mixin box-neat {
  @include box-radius;
  @include box-shadow;
}

@mixin transition($prop: all, $dur: $transition-duration) {
  transition: $prop $dur;
}

@mixin hide {
  display: none;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
